[Channel T32]
    Description=Building Temp
    Units=Degrees

[Channel T33]
    Description=Combined Sys. Fwd. Power
    Units=Percentage

[Channel T34]
    Description=Sys. Rev. Power
    Units=None

[Channel T35]
    Description=V1 Filament E
    Units=Volts

[Channel T36]
    Description=V1 Beam I
    Units=Amps

[Channel T37]
    Description=V1 Focus I
    Units=Amps

[Channel T38]
    Description=V1 Drive Power
    Units=Watts

[Channel T39]
    Description=V1 Body I
    Units=Amps

[Channel T40]
    Description=V1 Beam Volts
    Units=Volts 

[Channel T41]
    Description=V1 Fwd. Power
    Units=Percentage

[Channel T42]
    Description=V2 Filament E
    Units=Volts

[Channel T43]
    Description=V2 Beam I
    Units=Amps

[Channel T44]
    Description=V2 Focus I
    Units=Amps

[Channel T45]
    Description=V2 Drive Power
    Units=Watts

[Channel T46]
    Description=V2 Body I
    Units=Amps

[Channel T47]
    Description=V2 Beam Volts 
    Units=Volts

[Channel T48]
    Description=V2 Fwd. Power
    Units=Percentage

[Channel S1]
    Description=Tower Lights OK
    Units=Boolean

[Channel S2]
    Description=Tower Lights Bad
    Units=Boolean 

[Channel S33]
    Description=Digital On
    Units=Boolean

