Checked by Chief Engineer: 
    Date: __________________________________________________
    Signature: _____________________________________________
Checked by Chief Operator: 
    Date: __________________________________________________
    Signature: _____________________________________________
